If this works correctly, I should be able to completely delete all of the gitignore code and just add this statement
and not have it affect the main branch which would include the original code for the gitignore. 
